<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="WaveDIM">
    <meta name="application-name" content="WaveDIM">

    <title>WaveDIM</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/radio.css">

    <!-- waveDIM includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="/static/js/audio.js"></script>
    <script src="/static/js/scene.js"></script>
    <script src="/static/js/ui.js"></script>

    <!-- Three.js includes -->
    <script src="https://threejs.org/build/three.js"></script>
    <script src="/static/js/three_utils/js/Detector.js"></script>

    <script src="/static/js/three_utils/js/controls/OrbitControls.js"></script>

    <script src="/static/js/three_utils/js/shaders/CopyShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/BokehShader.js"></script>

    <script src="/static/js/three_utils/js/postprocessing/EffectComposer.js"></script>
    <script src="/static/js/three_utils/js/postprocessing/RenderPass.js"></script>
    <script src="/static/js/three_utils/js/postprocessing/ShaderPass.js"></script>
    <script src="/static/js/three_utils/js/postprocessing/MaskPass.js"></script>
    <script src="/static/js/three_utils/js/postprocessing/BokehPass.js"></script>

    <script src="/static/js/three_utils/js/shaders/SepiaShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/MirrorShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/FXAAShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/VignetteShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/DotScreenShader.js"></script>
    <script src="/static/js/three_utils/js/shaders/RGBShiftShader.js"></script>
    <script src="/static/js/three_utils/js/loaders/FBXLoader.js"></script>

    <!-- scenes -->
    <script src="/static/scenes/arrows/scene.js"></script>
    <script src="/static/scenes/waveform/scene.js"></script>

    <script src="/static/scenes/space1/scene.js"></script>
    <script src="/static/scenes/space1/shader.js"></script>

    <script src="/static/scenes/space2/scene.js"></script>
    <script src="/static/scenes/space2/shader.js"></script>

    <script src="/static/scenes/cubescape/scene.js"></script>
    <script src="/static/scenes/cubescape/shader.js"></script>

    <script src="/static/scenes/rgbshift/scene.js"></script>

</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>