<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="WaveDIM">
    <meta name="application-name" content="WaveDIM">

    <title>WaveDIM</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/radio.css">

    <!-- waveDIM includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="/static/js/audio.js"></script>
    <script src="/static/js/scene.js"></script>
    <script src="/static/js/ui.js"></script>

    <!-- Three.js includes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
    <script src="/static/js/three/Detector.js"></script>
    <script src="/static/js/three/core/Clock.js"></script>
    <script src="/static/js/three/controls/OrbitControls.js"></script>
    <script src="/static/js/three/geometries/ConeGeometry.js"></script>
    <script src="/static/js/three/geometries/SphereGeometry.js"></script>
    <script src="/static/js/three/shaders/CopyShader.js"></script>
    <script src="/static/js/three/shaders/BokehShader.js"></script>
    <script src="/static/js/three/geometries/TextGeometry.js"></script>
    <script src="/static/js/three/postprocessing/EffectComposer.js"></script>
    <script src="/static/js/three/postprocessing/RenderPass.js"></script>
    <script src="/static/js/three/postprocessing/ShaderPass.js"></script>
    <script src="/static/js/three/postprocessing/MaskPass.js"></script>
    <script src="/static/js/three/postprocessing/BokehPass.js"></script>
    <script src="/static/js/three/shaders/SepiaShader.js"></script>
    <script src="/static/js/three/shaders/MirrorShader.js"></script>
    <script src="/static/js/three/shaders/FXAAShader.js"></script>
    <script src="/static/js/three/shaders/VignetteShader.js"></script>
    <script src="/static/js/three/shaders/DotScreenShader.js"></script>
    <script src="/static/js/three/shaders/RGBShiftShader.js"></script>
    <script src="/static/js/three/loaders/FBXLoader.js"></script>
    <script src="/static/js/shader_star.js"></script>
    <script src="/static/js/shader_smoke.js"></script>

    <!-- scenes -->
    <script src="/static/js/scene_arrows.js"></script>
    <script src="/static/js/scene_waveform.js"></script>
    <script src="/static/js/scene_spaceshaders.js"></script>
    <script src="/static/js/scene_rgbshift.js"></script>
    <script src="/static/js/fbx_test.js"></script>

</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>