{% extends "base.html" %}
{% block content %}
    <div id="container"></div>
    <div class="sidenav">
        <div class="content">
            <h2>radio.cedsys.nl</h2>
            <small>Powered by <a target="_blank" href="https://github.com/skftn/waveDIM/">waveDIM</a></small>
            <br><br>
            <div style="opacity:0.7">
                <h3>Sound input</h3>
                <div class="streams" style="min-height:30px;"></div>

                <br><br>
                <h3>Sound Control</h3>
                <a class="change_mute" data-name="Mute">Mute</a><br>
                <br><br>

                <h3>Scene selection</h3>
                <div class="scenes">
                    <a class="change_scene" data-name="waveform">Waveform</a>
                    <a class="change_scene" data-name="arrows">Triangles</a>
                    <a class="change_scene" data-name="cubescape">Cubescape</a>
                    <a class="change_scene" data-name="space1">Space1</a>
                    <a class="change_scene" data-name="space2">Space2</a>
                </div>

                <br><br>
                <h3>Metadata</h3>
                <div class="metadata"></div>
            </div>
        </div>
    </div>

    <script>
        function wohlolxss(inp){return inp.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');}
        var render = null;

        var api = function(api_method, method, data){
            let _data = {
                url: `/api/${api_method}`,
                type: method,
                contentType: 'application/json',
                timeout: 15500
            };

            if (method == "POST"){
                _data.data = JSON.stringify(data);
            }

            return $.ajax(_data).then(function(data){
                return data;
            });
        };

        $(document).ready(function(){
            // setup render 'engine' *kugh* *kugh*
            render = new RenderStuff();
            render.start(new SceneCubescape());

            // default radio station
            render.audio.start_stream("/stream/npo1", "npo1");
        });
    </script>
{% endblock %}